<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="test" value="lectura de fichero"/>
		<add key="ficheroXML" value="C:\\Users\\fran9\\source\\repos\\WebApi\\APICaller\\Ficheros XML\\test.xml"/>
		<add key="ficheroPizza" value="C:\\Users\\fran9\\source\\repos\\WebApi\\APICaller\\Ficheros XML\\FicheroPizza.xml"/>
	</appSettings>
</configuration>